.claude/*
!.claude/skills/
.claude/skills/*
!.claude/skills/worklog-find/
!.claude/skills/worklog-operation/
.mcp.json
.serena

# Project specific files
tags.json
data/
worklog

# System files
.DS_Store

# Coverage files
*.out
coverage.html
worklog

